@page "/not-authorized"

<div class="alert alert-warning" role="alert">
    <h1 class="h4">Not authorized</h1>
    <p>You do not have permission to access this page.</p>
    <a class="btn btn-outline-primary" href="/recipes">Back to recipes</a>
</div>