@page "/admin/events/new"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.Authorization
@using UserGroupSite.Shared.Events
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Create Event</PageTitle>

<h1>Create event</h1>

<EventForm
    Input="Input"
    SpeakerOptions="SpeakerOptions"
    IsEditMode="false"
    IsSubmitting="isSubmitting"
    IsSpeakersLoading="isSpeakersLoading"
    SubmitButtonText="Create event"
    OnValidSubmit="HandleValidSubmit"
    OnToggleSpeaker="HandleToggleSpeaker"
    OnNameBlur="HandleNameBlur" />
